@font-face {
  font-family: 'Triade-Backslant';
  src: url('Triade-Backslant.eot');
  src: url('Triade-Backslant.eot?#iefix') format('embedded-opentype'),
       url('Triade-Backslant.woff2') format('woff2'),
       url('Triade-Backslant.woff') format('woff'),
       url('Triade-Backslant.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Triade-Upright';
  src: url('Triade-Upright.eot');
  src: url('Triade-Upright.eot?#iefix') format('embedded-opentype'),
       url('Triade-Upright.woff2') format('woff2'),
       url('Triade-Upright.woff') format('woff'),
       url('Triade-Upright.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

