{{/* 
  Disposition de la page d’accueil 
*/}}

{{- define "title" }}{{ .Title | default $.Site.Title }}{{ end -}}

{{/* Bordure noire */}}
{{- define "body-classes"}}p-4 sm:p-6 md:p-8 border-8 sm:border-16 border-noir bg-blanc color-noir{{ end -}}

{{- define "header" }}
{{- partial "header.html" . -}}
{{- end }}

{{- define "main" }}
<div class="flex-grow md:mt-8 md:flex flex-row flex-wrap items-center justify-center">
  
  <div class="md:w-1/2 py-6 px-8 md:pl-16 lg:pl-32 max-w-xs md:max-w-3xl md:order-2 mx-auto md:mx-0">
    {{- with .Params.image -}}
    <img src="{{ .src }}"
         alt="{{ .alt | default .src }}"
         class="max-w-100 h-auto mx-auto"
         />
    {{- end -}}
  </div>

  <div class="md:w-1/2 mx-auto md:mx-0 py-8 sm:px-6 max-w-lg md:order-1 text-center md:text-left">
    <h1 class="font-display text-3xl sm:text-4xl md:text-5xl lg:text-6xl mb-2">
      {{ .Title | markdownify}}
    </h1>
    
    <div class="font-body text-xl lg:text-2xl">
      {{- .Content -}}
    </div>
      
      {{- range .Params.boutons }}
      <a href="{{ .url }}"
         class="btn text-lg lg:text-xl mt-12">
        {{- .texte | markdownify }}
      </a>
      {{- end -}}
  </div>
</div>
{{ end -}}

{{- define "footer" }}
<footer>
  {{- partial "footer.html" . -}}
</footer>
{{- end -}}