<link rel="schema.DC" href="http://purl.org/DC/elements/1.0/">
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
{{- with .Title -}}
<meta name="DC.Title" content="{{ . }}">
{{- end -}}

{{ if .Params.author }}
{{- range where .Site.Data.auteurs "full" .Params.author -}}
<meta name="DC.Creator" content="{{ .last }}, {{ .first }}">
{{- end -}}
{{- end -}}

{{- with .Title -}}
<meta name="DC.Subject" content="{{ . | markdownify | plainify }}">
{{- end -}}
{{- with .Params.youtube_id -}}
<meta name="DC.Subject" content="https://www.youtube.com/watch?v={{ . }}">
{{- end -}}

{{- with .Description -}}
<meta name="DC.Description" content="{{ . | markdownify | plainify }}">
{{- end -}}

{{- with .Params.Publisher -}}
<meta name="DC.Publisher" content="{{ . }}">
{{- end -}}

{{- with .Params.Date -}}
<meta name="DC.issued" content="{{ .Format "2006-01-02" }}">
{{- end -}}

<!-- Type: blogPost -->
<meta name="DC.Type" content="blogPost">
<!-- Type: text (default, fallback) -->
<meta name="DC.Type" content="text">

<meta name="DC.Format" content="text/html">

{{- with .Permalink -}}
<meta name="DC.Identifier" content="{{ . }}">
{{- end -}}

{{- with $.Site.Title -}}
<meta name="DC.Source" content="{{ . }}">
{{- end -}}

<meta name="DC.Language" content="{{ .Lang }}">

{{- if eq .Type "analyses" -}}
<meta name="DC.Relation" content="{{ .Kind | title }} {{ i18n "in_the_meta_title" }} {{ $.Site.Title }}">
{{- end -}}

{{- with $.Site.Copyright -}}
<meta name="DC.Rights" content="{{ . }}">
{{- end -}}
