<link rel="apple-touch-icon" sizes="192x192" href="{{ "/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ "/apple-touch-icon.png" | relURL }}">
<link rel="icon" href="{{ "/favicon.ico" | relURL }}">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="theme-color" content="#000000">