<div class="w-full sm:flex flex-row flex-wrap justify-between text-sm">
  {{- if .Site.Copyright }}
  <p role="contentinfo">
    {{ with .Site.Author }}
    {{ if .uri -}}
    <a href="{{ .uri }}"
       target="_blank"
       class="no-underline hover:underline">
    {{- end }}
      {{- .name -}}
    {{ if .uri -}}
    </a>
    {{- end }} •{{ end }}
    {{ with .Site.GetPage "/licence.md" }}
    <a href="{{ .Permalink }}"
       class="no-underline hover:underline">
    {{- end }}
      {{- .Site.Copyright -}}
    {{ if .GetPage "/licence" -}}
    </a>
    {{- end }} •
    {{ now | dateFormat "2006" }}
  </p>
  {{ end -}}

  <nav class="mt-6 sm:mt-0">
    {{- partial "menus/footer-menu.html" . -}}
  </nav>
</div>