<div class="w-full flex flex-row justify-between flex-wrap content-center items-center">
  <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title | markdownify }}">
    <img src="{{ .Params.headerLogo | default "/img/logo.svg" | relURL }}"
         alt="{{- .Site.Title | markdownify | plainify -}}"
         class="h-10 w-10 inline-block"
         />
  </a>

  <nav>
    {{- partial "menus/main-menu.html" . -}}
  </nav>
</div>