<!doctype html>
<html class="no-js" lang="{{ .Page.Lang }}">

  <head>
    {{- partial "head/head.html" . -}}
    {{/* "title" block outside head.html to render on different page types */}}
    <title>{{ block "title" . -}}
      {{ with .Title }}{{ . | markdownify | plainify }} · {{ end }}{{ .Site.Title }}
      {{- end }}</title>
  </head>

  <body class="flex flex-col min-h-screen border-box mx-auto {{ block "body-classes" . }}max-w-screen-xxl bg-papier{{ end }}">

    {{- block "header" . }}
    <header class="px-4 pt-6 sm:p-8 pb-12">
      {{- partial "header.html" . -}}
    </header>
    {{- end -}}

    <main class="flex-grow flex flex-col md:relative">
      {{- block "main" . }}{{/* Default to article with content */}}

      {{- block "before-content" . }}
      <header class="p-6 md:py-20 md:pl-56">
         {{- if .Title -}}
        <h1 class="font-display salt text-4xl md:text-6xl">
          <span class="texte-decore anime">
            {{- .Title -}}
          </span>
        </h1>
        {{- end -}}
      </header>
      {{ end -}}


      <div class="md:flex md:flex-row">
        <aside class="px-6 md:pr-0 md:pl-8 flex-none w-full md:w-48 lg:w-48 lg:relative">
          {{- block "left-column" . }}{{ end -}}
        </aside>

        {{- block "content" . -}}
        <article class="contenu colonne-restreinte font-body w-full px-6 sm:p-1/3">
          {{- .Content -}}
        </article>
        {{- end -}}
      </div>
      
      {{- block "after-content" . }}{{ end -}}
      {{- end }}
    </main>

    {{- block "footer" . }}
    <footer class="px-4 pb-6 pt-16 sm:px-8">
      {{- partial "footer.html" . -}}
    </footer>
    {{- end -}}

    <script id="vendor-scripts">
      // EspaceFine
      {{- $espaceFineJS := resources.Get "scripts/espacefine.min.js" }}
      {{ $espaceFineJS.Content | safeJS -}}
      // Draggabilly
      {{- $draggabillyJS := resources.Get "scripts/draggabilly.pkgd.min.js" }}
      {{ $draggabillyJS.Content | safeJS -}}
      // Gumshoe
      {{- $gumshoeJS := resources.Get "scripts/gumshoe.min.js" }}
      {{ $gumshoeJS.Content | safeJS -}}
      // FastActive
      {{- $fastactiveJS := resources.Get "scripts/fastactive.min.js" }}
      {{ $fastactiveJS.Content | safeJS -}}
    </script>
    <script id="custom-scripts">
      // Espace fine (for French typographic spaces)
      if (document.documentElement.getAttribute('lang').match(/^fr/)) {
        espaceFine();
      }
      
      // Make that video window draggable
      initVideoDrag();
      
      // Watch & style table of contents
      initTOCWatch();

      // global vars
      var videoDragElem;
      var videoDraggie;

      // Functions
      function initVideoDrag() {
        videoDragElem = document.querySelector('.video-draggable');
        var videoDraggie;
        if (videoDragElem) {
          videoDraggie = new Draggabilly(videoDragElem, {
            containment: 'html'
          });
          
          videoDraggie.on('staticClick', function (ev) {
            if (ev.target.classList.contains('fermer')) {
              closeVideo();
            }
          });
        }
      }
      
      function initTOCWatch() {
        if (document.getElementById('TableOfContents')) {
          var spy = new Gumshoe('#TableOfContents a', {
            nested: true,
            offset: window.innerHeight * 0.3,
          });
        }
      }
    </script>

    {{- if .Page.Params.youtube_id -}}
    <script id="video-script">
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var ytScriptTag = document.getElementById('video-script');
      ytScriptTag.parentNode.insertBefore(tag, ytScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          videoId: '{{ .Page.Params.youtube_id }}',
          events: {
            'onReady': onPlayerReady
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
        bindSeekMarkers();
        bindVideoClose()
      }

      function bindSeekMarkers() {
        var markers = document.querySelectorAll('.marker-anchor');
        markers = Array.prototype.slice.call(markers); // arrayify

        markers.forEach(function (m) {
          m.addEventListener('click', function (ev) {
            ev.preventDefault();
            var attr =  ev.currentTarget.getAttribute('data-seekto');
            var seekTime = parseInt(attr, 10);
            // S'assurer que la vidéo est affichée
            showVideo()
            // jouer la vidéo et avancer au temps demandé
            player.playVideo();
            player.seekTo(seekTime, true);
          });
        });
      }
      
      function bindVideoClose() {
        var closeBtn = document.querySelector('.video-draggable .fermer');
        closeBtn.addEventListener('click', function (ev) {
          ev.preventDefault();
          closeVideo();
        });
      }

      function showVideo() {
        if (videoDragElem) {
          videoDragElem.setAttribute('aria-visible', true);
        }
        if (player) {
          player.playVideo();
        }
      }

      function closeVideo() {
        if (player) {
          player.pauseVideo();
        }
        videoDragElem.setAttribute('aria-visible', false);
      }

    </script>
    {{- end -}}

  </body>
</html>