{{- define "title" -}}
{{- if .Title -}}
{{- .Title | markdownify | plainify }} · 
{{ end -}}
{{ .Site.Title -}}
{{- end -}}

{{ define "before-content" }}
<header class="px-6 sm:px-8 py-8 mb-8 md:pl-56">
  <h1 class="font-display text-4xl md:text-6xl">
    <span class="texte-decore anime">
      {{- .Title -}}
    </span>
  </h1>
</header>
{{- end -}}

{{ define "left-column" }}
<div class="contenu">
  <div class="md:text-sm">
    {{ .Content }}
  </div>
</div>
{{ end }}

{{ define "content" }}
<article class="colonne-restreinte font-body w-full px-6 sm:p-1/3">

  {{- if .Pages -}}
  <ul class="max-w-none">
    {{- range .Pages -}}
    <li class="mb-8">
      {{- .Render "summary" -}}
    </li>
    {{- end -}}
  </ul>
  {{- end -}}
</article>
{{- end -}}
