{{- if .Site.Menus.footer -}}
<ul class="nav">
  {{ $currentPage := . }}
  {{- range $index, $navItem := .Site.Menus.footer -}}
  <li class="{{ if gt $index 0 }}ml-4{{ end }}{{if or ($currentPage.IsMenuCurrent "footer" $navItem ) ($currentPage.HasMenuCurrent "footer" $navItem ) }}active{{ end }}">
    <a href="{{ $navItem.URL | relLangURL }}"
       class="no-underline hover:underline"
       title="{{ .Title }}">
      {{- $navItem.Title -}}
    </a></li>
  {{- end -}}
</ul>
{{- end -}}