<ul class="nav highlight-nav font-display backslant flex flex-row">
  {{- $currentPage := .Page -}}
  {{- range .Site.Menus.main.ByWeight -}}
  <li class="ml-3 md:ml-6 {{if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }}active{{ end }}{{ if .HasChildren }} dropdown{{ end }}">
    <a href="{{ .URL }}" title="{{ .Title }}" class="block py-1">{{ .Name }}{{ if .HasChildren }} <span>&darr;</span>{{ end }}</a>
    {{- if .HasChildren -}}
    <ul class="dropdown-list">
      {{- range .Children.ByWeight -}}
      <li {{ if .HasChildren }}class="dropdown"{{end}}>
        <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}{{ if .HasChildren }} <span>›</span>{{ end }}</a>
        {{ if .HasChildren }}
        <ul class="dropdown-list">
          {{ range .Children.ByWeight }}
          <li><a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{- end -}}
      </li>
      {{- end -}}
    </ul>
    {{- end -}}
  </li>
  {{- end -}}
</ul>
