{{ define "before-content" }}
<!-- Portrait flottant -->
<header class="bg-blanc border-4 border-noir ombre-moutarde md:flex flex-row p-4 sm:p-8 md:p-16 mb-16 mx-6 sm:mx-8">
  <figure class="mx-auto md:mx-0 md:pr-16 pb-8 md:pb-0">
    <!-- Conteneur d'image -->
    {{- if .Params.portrait }}
    <div class="ombre-moutarde bg-blanc w-48 h-48 border-4 border-noir rounded-full overflow-hidden mx-auto flex-none">
      <img src="{{ .Params.portrait }}"
           class="w-100 h-auto"
           alt="{{ .Title }}"
           />
    </div>
    {{ end -}}
    {{- with .Params.legendeAuteur -}}
    <figcaption>
      {{- . -}}
    </figcaption>
    {{- end -}}
  </figure>

  <div class="text-center md:text-left">
    {{- if .Title -}}
    <h1 class="font-display salt text-4xl md:text-6xl md:mt-4 mb-4 md:mb-8">
      <span class="texte-decore anime">
        {{- .Title -}}
      </span>
    </h1>
    {{- end -}}

    {{- if .Params.description -}}
    <div class="mb-4">
      {{- .Params.description -}}
    </div>
    {{- end -}}
    {{- if .Params.author -}}
    <div class="mb-4">
      <span class="text-cafe">Texte par</span>
      <strong class="font-bold">{{ .Params.author -}}</strong>
    </div>
    {{- end -}}

    <span class="text-6xl font-display inline-block">&darr;</span>
  </div>
</header>

{{- if .Page.Params.youtube_id -}}
<!-- La vidéo Youtube -->
<figure class="invisible md:visible no-js:relative fixed max-w-full md:bottom-0 z-10 right-0 sm:m-4 pb-1 ombre-moutarde border border-noir video-draggable bg-blanc h-64" style="width: 22rem;"
        aria-expanded="true">
  <div class="barre relative js:cursor-move py-3">

    <div class="texture-rugueuse inline-block ml-2" role="decoration">:&nbsp;:&nbsp;:&nbsp;:&nbsp;:&nbsp;:&nbsp;:</div>

    <button class="fermer text-noir absolute top-0 right-0 h-10 w-10 leading-none cursor-pointer text-center text-2xl hover:bg-moutarde active:bg-noir">
      <span>&times;</span>
    </button>
  </div>


  <div class="relative mx-1 responsive-video-wrapper aria-collapsed-collapse">
    <div id="player"></div>
    <noscript>
      <iframe id="player" type="text/html" src="https://{{ .Params.ytHost | default "www.youtube.com" }}/embed/{{ .Page.Params.youtube_id }}?enablejsapi=1" frameborder="0"></iframe>
    </noscript>
  </div>
</figure>
{{- end -}}
{{- end -}}

{{- define "left-column" -}}
<!-- Sticky wrapper -->
<div class="md:sticky top-0 md:py-8 flex flex-col md:h-screen">

  <div class="hidden md:block mb-4 text-sm">
    <strong class="font-bold">{{ .Title }}</strong>
    <hr class="hidden md:block border-t-2 mt-4 border-noir w-6">
  </div>

  <div class="hidden md:block mb-4 md:text-xs">
    <label class="text-cafe">
      Texte
    </label>
    <br>
    <strong class="font-bold">{{ .Params.author }}</strong>
  </div>

  <div class="md:mb-4 md:text-xs">
    <label class="text-cafe">
      Table des matières
    </label>
    <div class="table-du-document">
      {{- .TableOfContents -}}
    </div>
  </div>

  {{- if .Page.Params.youtube_id -}}
  <div class="w-full md:mt-6 md:hidden">
    <button class="btn block mt-8 text-lg" onclick="showVideo()">
      <svg class="inline-block mr-2" width="20" height="20" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><metadata><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/><dc:title>Jouer</dc:title></cc:Work></rdf:RDF></metadata><ellipse cx="10" cy="10" rx="8.9995" ry="9.0005" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"/><path d="m7.7325 5.218c-0.2141 0.022379-0.37823 0.23299-0.37828 0.48533v8.5935c6.878e-4 0.37397 0.34504 0.60774 0.62147 0.42191l3.1694-2.1476 3.1722-2.1476c0.27637-0.18768 0.27637-0.65612 0-0.84379l-3.1722-2.1507-3.1694-2.1476c-0.073616-0.049876-0.1585-0.072023-0.24318-0.063444z" fill="currentColor" color="currentColor" /></svg>

      Lire la vidéo
    </button>
  </div>
  {{- end -}}
  
  <div class="mt-auto hidden md:block">
    <a href="#" class="btn text-center text-xl" title="Hop!">
      &nbsp;&uarr;&nbsp;
    </a>
  </div>
</div>
{{ end }}