<a href="{{ .Permalink }}"
   title="{{ with .Page.CurrentSection.Title | singularize }}{{ . }}:{{ end }}{{ with .Page.Title }} {{ . }}{{ end }}">
  <section class="ombre-animee-moutardetext-center md:text-left bg-blanc border border-noir ombre-animee-moutarde p-8 md:flex flex-row align-center">
    <div class="md:w-1/3">
      {{- if .Params.portrait }}
      <figure>
          <!-- Conteneur d'image -->
          <div class="ombre-moutarde bg-blanc w-40 h-40 lg:w-48 lg:h-48 border-4 border-noir rounded-full overflow-hidden mx-auto">
            <img src="{{ .Params.portrait }}"
                 class="w-100 h-auto"
                 alt="{{ .Title }}"
                 />
          </div>
      </figure>
      {{ end -}}
    </div>

    <div class="md:pl-8 md:w-2/3">
      <div class="content text-center md:text-left text-lg md:text-2xl mt-8">
        <h2 class="text-3xl md:text-4xl font-display salt mb-6">
          <span class="hidden md:inline-block mr-2 font-display salt">&rarr;</span>
          <span class="block md:hidden mb-2 font-display salt">&darr;</span>
          {{- if eq .Page.Parent.Kind "taxonomyTerm" }}#{{ end -}}
          {{ .Title | markdownify -}}
        </h2>

        <div>
          {{- .Params.description | default (substr (.Summary | markdownify | plainify) 0 100) -}}
        </div>
        
        {{ if .Params.author }}
        <div class="mt-4 font-sans text-sm md:text-base font-bold">
          {{ .Params.author}}
        </div>
        {{ end }}

      </div>
    </div>
  </section>
</a>