/**
 * Style du site
 * =============
 * 
 * Ce fichier regroupe les styles généraux du site.
 * La majeure partie du style est explicité directement dans
 * les attributs HTML grâce au système TailwindCSS.
 * Les styles particuliers non compris dans ce système sont
 * plutôt écrits ici, en CSS.
 * 
 * 
 * Table des matières
 * ------------------
 * - TailwindCSS
 * - SASS
 * - Fontes
 * - ::selection
 * - Défilement
 * - Tyographie
 * - Contenu
 * - Table du document
 * - Références
 * - Notes de bas de page
 * - Menu
 * - Décoration: Ombre standard
 * - Décoration: Texte décoré
 * - Composantes
 * 
 */

/* TailwindCSS */
@import '../tailwindcss/tailwind.custom';

/* SASS: Variables */
@import 'partials/variables';

/* Fontes */
@import 'partials/fonts';

/* ::selection */
::selection {
  background-color: $moutarde;
  color: $noir;
}

/* Défilement */
html, body {
  scroll-behavior: smooth;
}

/* Typographie */
// Spécial Triade
// https://coppersandbrasses.com/retail-fonts/triade/features/
.font-display {
  font-weight: bold;
  line-height: 1.1;

}
  .backslant {
    font-style: italic;
  }
  .salt {
    font-feature-settings: "salt";
  }
  .case {
    font-feature-settings: "case";
  }
  .liga {
    font-feature-settings: "liga";
  }
  .no-liga {
    font-feature-settings: "liga" 0;
  }
  .ss01 {
    font-feature-settings: "ss01";
  }
  .ss02 {
    font-feature-settings: "ss02";
  }
  .ss03 {
    font-feature-settings: "ss03";
  }
  .ss04 {
    font-feature-settings: "ss04";
  }

// Invisibiliser le tap-clic un peu laid sur appareils mobiles
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Contenu */
.contenu {
  font-size: 1.125em;
  @media (min-width: map-get($breakpoints, sm)){
    font-size: 1.25em;
  }
  @media (min-width: map-get($breakpoints, md)){
    font-size: 1.375rem; // 16px -> 22px
//    font-size: 1.3125rem; // 16px -> 21px
//    font-size: 1.25rem; // 16px -> 20px
  }
  line-height: 1.61;
  hyphens: auto;
  @import 'partials/content';
  @import 'partials/markers';
}
.colonne-restreinte {
  // Restreindre la largeur des éléments (laisser un espace sur la droite)
  & > * { 
    @media (min-width: map-get($breakpoints, md)) {
      max-width: 42rem;
    }
  }
  
  // Les exceptions qui remplissent toute la largeur
  > figure,
  > .max-w-none
  {
    max-width: none;
    margin-left: auto;
  }
}

/* Table du document */
.table-du-document {
  ul {
    > li {
      margin-top: .25em;
      a {
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, $moutarde, $moutarde);
        background-position: 0 92%;
        background-size: 0 0.6em;
        transition: background-size .3s $ease-in-out-cubic;
        &:hover, &:focus {
          background-size: 100% .6em;
        }
      }
      
      ul {
        overflow: hidden;
        padding-left: .75em;
        max-height: none;
        @media (min-width: map-get($breakpoints, md)) {
          max-height: 0;
          visibility: hidden;
        }
        transition: max-height .5s $ease-out-cubic, .5s visibility 0s;
        border-left: 1px dashed $cafe;
      }
      
      &.active {
        > a {
          background-size: 100% .6em;
        }
        > ul {
          @media (min-width: map-get($breakpoints, md)) {
            max-height: 600px;
            visibility: visible;
            transition: max-height .5s $ease-in-out-cubic, visibility 0s;
          }
        }
      }
    }
  }
}

/* Références */
.references {
  margin-left: 1.5rem;
  text-indent: -1.5rem;
  a {
    overflow-wrap: break-word;
  }
}

/* Notes de bas de page */
.footnotes {
  ol {
    list-style-type: decimal;
    margin-left: 1.5em;
    font-size: 1rem;

    li {
      margin-bottom: 1.5rem;
    }
    
    p {
      display: inline;
    }
  }
}

/* Menu */
.highlight-nav li {
  background-color: transparent;
  background-image: linear-gradient(to left, $moutarde, $moutarde);
  background-size: 0 .6em;
  background-repeat: no-repeat;
  background-position: 0 92%;
  transition: background-size .3s;
  
  &:hover, &:focus {
    background-size: 100% .6em;
    background-position: 100% 92%;
  }
  &:active {
    outline: none;
  }
  &.active {
    background-size: 100% .6em;
    background-image: linear-gradient(to left, $moutarde, $moutarde);
  }
}

/* Décoration :
 * Ombre standard */
.ombre-moutarde {
  box-shadow: 8px 10px 0 $moutarde;
}
.ombre-animee-moutarde {
  transform: translate(8px, 10px);
  transition: all .3s;
  box-shadow: 0 0 0 $moutarde;
  
  &:hover {
    transform: translate(0, 0);
    box-shadow: 8px 10px 0 $moutarde;
  }
  
  &:active {
    transform: translate(8px, 10px);
    transition-duration: 0s;
    box-shadow: 0 0 0 $moutarde;
  }
}

/* Décoration :
 * Texte surligné */
.texte-decore {
  background-image: linear-gradient(to left,$moutarde,$moutarde);
  background-position: 0 88%;
  background-size: 100% .5em;
  background-repeat: no-repeat;
  
  &.anime {
    animation: trait-horizontal .6s $ease-in-out-expo;
  }
}

@keyframes trait-horizontal {
  from { background-size: 0% .4em; }
  to   { background-size: 100% .4em; }
}

/* Vidéo */
.video-draggable {
  &[aria-visible="true"] {
    visibility: visible;
  }
  &[aria-visible="false"] {
    visibility: hidden;;
  }
}
.responsive-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;

  iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

/* Composantes */
@import 'partials/blockquotes';
@import 'partials/buttons';
@import 'partials/lettrine';