<a href="#player" data-seekto="{{ .Get 0 }}" class="marker-anchor hidden js:inline-block ml-1">
  <svg width="20" height="20" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
   <metadata>
    <rdf:RDF>
     <cc:Work rdf:about="">
      <dc:format>image/svg+xml</dc:format>
      <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
      <dc:title>Jouer</dc:title>
     </cc:Work>
    </rdf:RDF>
   </metadata>
   <ellipse cx="10" cy="10" rx="8.9995" ry="9.0005" fill="none" stroke="#000" stroke-linejoin="round" stroke-width="2"/>
   <path d="m7.7325 5.218c-0.2141 0.022379-0.37823 0.23299-0.37828 0.48533v8.5935c6.878e-4 0.37397 0.34504 0.60774 0.62147 0.42191l3.1694-2.1476 3.1722-2.1476c0.27637-0.18768 0.27637-0.65612 0-0.84379l-3.1722-2.1507-3.1694-2.1476c-0.073616-0.049876-0.1585-0.072023-0.24318-0.063444z" fill="#000000" />
  </svg>
</a>