/**
 * Blockquotes
 */

.bloc-de-texte {
  &:before, &:after {
    color: $moutarde;
    text-shadow: none;
    position: absolute;
    font-size: 1.25em;
    line-height: 1rem;
    z-index: 0;
  }
  
  &:before{
    top: 1em;
    left: 0;
    content: '«';
  }
  &:after{
    right: -.15em;
    bottom: .5em;
    content: '»';
    font-size: 2.5em;
  }
  position: relative;
  margin-top:     1.25em;
  margin-bottom:  1.25em;
  padding: .75em 1.5em;
  border-bottom: 2px solid $moutarde;
  border-top: 2px solid $moutarde;
  
  font-size: 1.3em;
  @media (min-width: map-get($breakpoints, md)) {
    font-size: 1.875em;
  }
  line-height: 1.375;
  @extend .font-display;
  @extend .backslant;
  @extend .ss02;
  text-shadow: .1em .1em 0 $moutarde;
  
  p:last-child {
    margin-bottom: 0;
  }
}
