/**
 * Buttons
 */

// Button Mixin
// ------------
//
// Apply it like this:
// .my-button {
//   @include curtains-down-btn(#000000, #bada55);
// }
//
// Contents:
// 
// 0. Variables
// 1. Core Button Structure
// 2. Typography
// 3. Cursor Interactions / Animation
// 4. Color Variant
// 5. Disabled state
// 6. Full-width button
//
@mixin curtains-down-btn($color, $contrastColor, $colorSurprise: $contrastColor) {
  // 0. Variables
  $color:                 $color;
  $contrastColor:         $contrastColor;
  $colorSurprise:         $colorSurprise;
  $btn-border-width:      2px;
  $btn-animation-offset:  8px;

  // 1. Core Button Structure
  display: inline-block;
  position: relative;
  padding: 1em 1.6em;
  box-sizing: border-box;
  z-index: 1;
  
  // 2. Typography
  vertical-align: baseline;
  line-height: normal;
  @extend .font-display;
  @extend .backslant;

  // 3. Cursor Interactions / Animation
  cursor: pointer;
  user-select: none;
  transition: color 0.4s, transform 0.4s $ease-in-out-cubic;
  &:hover {
    &:before {
      transform: scaleY(1);
    }
    &:after {
      transform: translate($btn-animation-offset, $btn-animation-offset);
    }
  }
  &:active {
    transition-duration: 0s;
    transform: translate($btn-animation-offset, $btn-animation-offset);
    &:after {
      transition-duration: 0s;
      transform: translate(0, 0);
    }
  }
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  &:before {
    transform-origin: top center;
    transform: scaleY(0);
    transition: transform $ease-in-out-expo 0.4s;
  }
  &:after {
    z-index: -2;
    top: 0;
    left: 0;
    border-width: $btn-border-width;
    border-style: solid;
    transition: transform $ease-in-out-cubic 0.4s;
  }

  // 4. Color Variant
  color: $color;
  &:hover {
    color: $contrastColor;
    
    &:after {
      background-color: $colorSurprise;
    }
  }
  &:before {
    background-color: $color;
  }
  &:after {
    border-color: $color;
    background-color: transparent;
  }

  // 5. Disabled state
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.8;
  }
  
  // 6. Full-width button
  &.block {
    display: block;
    width: 100%;
  }

}

// Ok, apply the damn thing
.btn {
  @include curtains-down-btn($noir, $blanc, $moutarde);
}

.btn-bw {
  @include curtains-down-btn($noir, $blanc);
}

.btn-velours {
  @include curtains-down-btn($velours, $papier, $moutarde);
}
