// Content
// Everyting that goes in .content

h1, h2, h3, h4, h5, h6 {
  @extend .font-display;
  line-height: 1.1;
  margin-top: 1em;
  margin-bottom: .75rem;
}

h1 {
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 3.3rem;
}

h2 {
  font-size: 2rem;
  @media (min-width: map-get($breakpoints, md)) {
    font-size: 2.25rem;
    &::before {
      content: '#';
      display: inline-block;
      margin-right: 0.5rem;
      text-shadow: 3px 3px 0 $moutarde;
    }
  }
}

h3 {
  font-size: 1.5rem;
  @media (min-width: map-get($breakpoints, md)) {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.42rem;
}

a {
  background-color: transparent;
  background-image: linear-gradient(to left,$moutarde,$moutarde);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 0 94%;
  color: inherit;
  transition: background-size .4s $ease-out-cubic, color .25s, background-color .25s;
  
  &:hover, &:focus {
    background-size: 100% .7em;
    color: $noir;
  }
  &:active {
    outline: 4px solid $moutarde;
  }
}

strong {
  // todo: prendre en charge les caractères gras
  font-weight: inherit;
//  font-style: italic;
  
  @extend .texte-decore;
}

p {
  margin-bottom: 2.25rem;
}

hr {
  background: none;
//  border-top: 2px solid $noir;
  border: 0;
  display: block;
  margin: 1em auto 1em 0;
  color: $cafe;
  @extend .font-display;
  font-size: 4rem;
  text-shadow: 3px 3px 0 $moutarde;
  
  &::before {
    content: '* * *';
  }
}

blockquote {
  padding:        1em .5em 1em 1.75em;
  margin-top:     2em;
  margin-bottom:  2em;
  background-color: $blanc;
  border-left: 4px solid $moutarde;
  line-height:    1.25;
  
  p {
    font-size: 1.125em;
    margin-bottom: 1rem;
  }

  p:last-child {
    margin-bottom: 0;
  }
  
  footer {
    font-size: 1.25rem;
    text-align: right;
    margin-top: .5em;
    &:before {
      content: '—';
      margin-right: .25em;
      display: inline-block;
    }
  }
}

ul {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  li {
    position: relative;
    &::before {
      content: '•';
      position: absolute;
      left: -0.67em;
    }
  }
}