/**
 * FONTS
 * =====
 * 
 * Table of contents
 * -----------------
 * 
 * 1. Relato (Eduardo Manso)
 * 2. Triade (Étienne Aubert Bonn)
 */

/* Copyright (c) 2016 by Eduardo Manso. All rights reserved.
 * This software is the property of Emtype Foundry and may not be reproduced, used, displayed, modified, disclosed or transferred.
 * For use these Webfonts you may obtain a valid license at http://www.emtype.net */

@font-face {
  font-family: 'relato-web';
  src: url('/polices/relato/ReRe1000-Rg.eot'); /* IE9 Compat Modes */
  src: url('/polices/relato/ReRe1000-Rg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/polices/relato/ReRe1000-Rg.woff2') format('woff2'), /* Modern Browsers */
       url('/polices/relato/ReRe1000-Rg.woff') format('woff'), /* Modern Browsers */
       url('/polices/relato/ReRe1000-Rg.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/polices/relato/ReRe1000-Rg.svg#font') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'relato-web';
  src: url('/polices/relato/ReIt1000-It.eot'); /* IE9 Compat Modes */
  src: url('/polices/relato/ReIt1000-It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/polices/relato/ReIt1000-It.woff2') format('woff2'), /* Modern Browsers */
       url('/polices/relato/ReIt1000-It.woff') format('woff'), /* Modern Browsers */
       url('/polices/relato/ReIt1000-It.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/polices/relato/ReIt1000-It.svg#font') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* 2. Triade */
@font-face {
  font-family: 'triade-web';
  src: url('/polices/triade/Triade-Backslant.eot');
  src: url('/polices/triade/Triade-Backslant.eot?#iefix') format('embedded-opentype'),
       url('/polices/triade/Triade-Backslant.woff2') format('woff2'),
       url('/polices/triade/Triade-Backslant.woff') format('woff'),
       url('/polices/triade/Triade-Backslant.ttf')  format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'triade-web';
  src: url('/polices/triade/Triade-Upright.eot');
  src: url('/polices/triade/Triade-Upright.eot?#iefix') format('embedded-opentype'),
       url('/polices/triade/Triade-Upright.woff2') format('woff2'),
       url('/polices/triade/Triade-Upright.woff') format('woff'),
       url('/polices/triade/Triade-Upright.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

