/*
 * Lettrine
 */

.lettrine {
  @extend .font-display;
  display: inline-block;
  position: relative;
  float: left;
  font-size: 6.5rem;
  padding-right: .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  line-height: 1;
  color: $noir;
  text-shadow: .08em .08em 0 $moutarde;
  
  @media (min-width: map-get($breakpoints, md)) {
    font-size: 10rem;
  }
}