/*
 * Markers
 */

.marker-anchor {
//  background-color: $moutarde;
  background-image: none;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  vertical-align: top;
  top: 0.25rem;
  position: relative;
  background-color: #fff;
  box-shadow: 2.5px 2.5px 0 $moutarde;
  margin-left: 0.1em;
  margin-right: 0.25em;
  transition: none;
  &:hover, &:focus {
    img, svg {
      animation: rotate .4s $ease-out-cubic;
    }
  }
  &:active {
    outline: 0;
    background-color: $moutarde;
    transform: translate(2.5px, 2.5px);
    box-shadow: 0 0 0 $moutarde;
  }
  img, svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@keyframes rotate {
  from { transform: rotate(360deg); }
  to { transform: rotate(0); }
}
