/**
 * Variables
 */

// Couleurs
$noir:      #000000;
$blanc:     #ffffff;
$moutarde:  #DFB317; // jaune adouci
$papier:    #E7E3D3; // beige
$cafe:      #87734e; // beige foncé
$velours:   #25481F; // vert


// Easings
$ease-in-cubic:                   cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-out-cubic:                  cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-out-cubic:               cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-expo:                cubic-bezier(1, 0, 0, 1);
$ease-out-back:                   cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-out-quint:                  cubic-bezier(.23,1,.32,1);


// Breakpoints
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 80rem, // 1280px
  xxl: 90rem // 1440px
);